.services__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.service {
    border-radius: 0 0 2rem 2rem;
    min-height: 400px;
    min-width: 300px;  
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
   
    /* box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.2) 0px -3px 0px inset;  */
}

.service__head {
    padding: 1rem;
    border-radius: 0 0 2rem 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: rgba(255, 255, 255, 0.35) 0px -50px 36px -28px inset;
}

.service__head h3 {
    color: var(--color-white);
    font-weight: 900;
    font-size: 1.5rem;
    text-align: center;
}

.service__list {
    padding: 2rem;
    
}

.service__list li {
    display: grid;
    grid-template-columns: 10% 80%;
    padding-bottom: 1rem;
}

.service__list-icon {
    color: var(--color-green);
    margin-top: 10px;
    font-size: 1rem;
}

.service__list p {
    color: var(--color-white);
    font-size: 1.4rem;
}



/* MEDIA QUERIES (MEDIUM DEVICES) IPADS */
@media screen and (max-width: 1024px) {
   .services__container {
       grid-template-columns: 1fr 1fr;
       gap: 2rem;
   }

   .service {
       height: auto;
   }
    
}

/* MEDIA QUERIES (SMALL DEVICES) MOBILE PHONES */
@media screen and (max-width: 600px) {
    .services__container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

}
