.portfolio__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    /* background: var(--color-blue); */
    border: 2px solid var(--color-blue);
    padding: 1.3rem;
    border-radius: 2rem;
}



.portfolio__item-image {
    overflow: hidden;
    text-align: center;
    /* border: 2px solid var(--color-blue); */
    border-radius: 2rem;
    /* height: 300px; */
    /* width: 100%; */
    

}

.portfolio__item-image img {
    height: 300px;
    max-width: 300px;
    border-radius: 1.5rem;
}



.portfolio__item h3 {
    text-align: center;
    padding-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 900;
}

.portfolio__item p {
    text-align: center;
    padding-bottom: 2rem;
    color: var(--color-light);
    font-size: 1rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
    justify-content: center;
}




/* MEDIA QUERIES (MEDIUM DEVICES) IPADS */
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }

}

/* MEDIA QUERIES (SMALL DEVICES) MOBILE PHONES */
@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

}