.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;   
}

.about__me {
    width: 100%;
    border-radius: 1rem;
    /* background: var(--color-grey); */
    display: grid;
    place-items: center;
    transition: var(--transition);
}

.about-image {
    display: block;
    width: 100%;
    object-fit: cover;
}

.about__me-image {
    width: 100%;
    height: fit-content;
    border-radius: 1rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.about__me-image:hover {
    transform: rotate(0);
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card {
    background: var(--color-grey);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

/* add animation mb?*/
.about__card:hover{
    cursor: default;
    background-color: black;
    animation: slide-white ease-in 100s infinite;
    animation-fill-mode: backwards;
}

@keyframes slide-white {
    0% {
        
        transition: translateY(100%);
    }
}


.about__card:hover .about__icon {
   /*  color: var(--color-white); */
    transform: scale(1.5);
    /* animation: icon-anim 2s alternate-reverse infinite;
    animation-fill-mode: backwards; */
}

@keyframes icon-anim {
    0% {
        
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-620deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
    
}

.about__card:hover small {
    color: var(--color-white);
    font-size: 1rem;
    transition: .5s;
}

.about__card:hover h5 {
    color: var(--color-light);
    font-size: 0.8rem;
    transition: .5s;
}

.about__icon {
    color: var(--color-yellow);
    font-size: 2rem;
    margin-bottom: 1rem;
    transition: .5s;
}

.about__card h5 {
    font-size: 0.95rem;
    transition: .1s;
}

.about__card small {
    font-size: 0.7rem;
    color: var(--color-light);
    transition: .1s;
}

.about__content p {
    margin: 2rem 0 1rem;
    color: var(--color-light);
}

/* MEDIA QUERIES (MEDIUM DEVICES) IPADS */
@media screen and (max-width: 1024px) {
   .about__container {
       grid-template-columns: 1fr;
       gap: 0;
   }

   .about__me {
       width: 50%;
       margin: 5rem auto 7rem;
   }

   .about__content p {
       margin: 3rem 0 3rem;
   }

   .about__content{
    text-align: center;
}
   
}

/* MEDIA QUERIES (SMALL DEVICES) MOBILE PHONES */
@media screen and (max-width: 600px) {
    .about__me {
        width: 65%;
        margin: 1rem auto 3rem;
        
    }

    .about__cards {
       grid-template-columns: 1fr 1fr;
       gap: 1rem; 
    }

    .about__content{
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem;
    }
}