
.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card {
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    
    
}

/* add animation mb?*/
.about__card:hover{
    cursor: default;
    animation: slide-white ease-in 100s infinite;
    animation-fill-mode: backwards;
}

@keyframes slide-white {
    0% {
        
        transition: translateY(100%);
    }
}


.about__card:hover .about__icon {
    transform: scale(1.5);
    color: white;
}

@keyframes icon-anim {
    0% {
        
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-620deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
    
}

.about__card:hover h4 {
    color: var(--color-white);
    font-size: 1.5rem;
    transition: .5s;
}

.about__card:hover h2 {
    color: var(--color-light);
    font-size: 1rem;
    transition: .5s;
}

.about__icon {
    color: var(--color-yellow);
    font-size: 5rem;
    margin-bottom: 1rem;
    transition: .5s;
}

.about__card h2 {
    transition: .1s;
}

.about__card h4 {
    font-size: 1.2rem;
    color: var(--color-light);
    transition: .1s;
}

.about__content p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    font-size: 1.5rem;
}

/* MEDIA QUERIES (MEDIUM DEVICES) IPADS */
@media screen and (max-width: 1024px) {
   .about__container {
       grid-template-columns: 1fr;
       gap: 0;
   }

   .about__me {
       width: 50%;
       margin: 5rem auto 7rem;
   }

   .about__content p {
       margin: 3rem 0 3rem;
   }

   .about__content{
    text-align: center;
}
   
}

/* MEDIA QUERIES (SMALL DEVICES) MOBILE PHONES */
@media screen and (max-width: 600px) {
    .about__me {
        width: 65%;
        margin: 1rem auto 3rem;
        
    }

    .about__cards {
       grid-template-columns: 1fr 1fr;
       gap: 1rem; 
    }

    .about__content{
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem;
    }
}