.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    transition: var(--transition);
}

.contact__option:hover {
    background: var(--color-bg-variant-reverse);

}

.contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,
textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    resize: none;
    color: var(--color-white);
    background: rgba(105, 231, 109, 0.5);
    box-shadow: 0 8px 32px 0 rgba(105, 231, 109, 0.2);
}

::placeholder {
    color: var(--color-white);
    opacity: 1;
}

/* Send msg button only */
.btn {
    width: max-content;
    color: var(--color-green);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    border: 2px solid var(--color-blue);
    cursor: pointer;
    position: relative;
    display: inline-block;
    background-color: transparent;
    color: var(--color-white);
    transition: .2s;
}

.btn:hover {
    border-color: var(--color-green);
}

.btn:active {
    transform: translateY(2px);
}



input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent;
}

button.send {
    animation: msg_sent 1s ease 0s 1 normal forwards;
}

@keyframes msg_sent {
    0% {
        opacity: 1;
        transform: rotate(0) scale(1);
    }

    100% {
        opacity: 0;
        transform: rotate(-540deg) scale(0);
    }
}

button.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.contact__option a {
    color: var(--color-white);
}

.contact__option a:hover {
    font-weight: bolder;
    transform: scale(1.2);   
}

/* MEDIA QUERIES (MEDIUM DEVICES) IPADS */
@media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    input,
    textarea {
        width: 90%;
    }

}



/* MEDIA QUERIES (SMALL DEVICES) MOBILE PHONES */
@media screen and (max-width: 600px) {
    .container.contact__container {
        width: var(--container-width-sm);
    }

    input,
    textarea {
        width: 85%;
    }

}