header {
    height: 84vh;
    padding-top: 5rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.dl-button {
    width: max-content;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    border: 1px solid var(--color-primary);
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: 0.2s;
}



.dl-button:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 1px;
    font-size: 30px;

    transform: rotate(90deg);
}

.dl-button:hover {
    padding-right: 24px;
    padding-left: 8px;
    color: var(--color-white);
    border-color: var(--color-white);
}

.dl-button:hover:after {
    opacity: 1;
    right: 5px;
}

.dl-button:active {
    transform: translateY(2px);
}

/* CTA */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* SOCIALS */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials a {
    color: var(--color-white);
    font-size: larger;
    transition: .2s;
}

.header__socials a:hover {
    transform: scale(1.5);
}

/* Line */
.header__socials::after {
    content: "";
    width: 3px;
    height: 2rem;
    background: var(--color-white);
}

/* ME */
.me {
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 2rem;

}

/* Scroll down */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-size: 0.9rem;
    color: var(--color-white);
}

.scroll__down:hover {
    font-weight: bolder;
}

/* Animations */


  

.shrink-text-animation {
    animation: shrink-text 2s;
  }
  
  @keyframes shrink-text {
    from {
      font-size: 5em;
    }
    to {
        font-size: 0.83em;
    }
  }

/* old animation
.greeting-animation {
    opacity: 0;
    font-size: 2em;
    color: white;
    transform: translateY(-100%);
    animation: fall-in 1s ease-in-out forwards;
}

@keyframes fall-in {
    100% {
        opacity: 1;
        transform: translateY(0);
        font-size: 0.83em;
    }
}

.profile-image-animation {
    opacity: 0;
    transform: translateY(100%);
    animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.flash-animation {
    animation: flash 1s linear;
    animation-delay: 1s;
  }
  
  @keyframes flash {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

*/






/* MEDIA QUERIES (MEDIUM DEVICES) IPADS */
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
        padding-top: 0rem;
    }


}

/* MEDIA QUERIES (SMALL DEVICES) MOBILE PHONES */
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
        padding-top: 0rem;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }
}