header {
    height: 84vh;
    padding-top: 5rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}


/*********************************************************** Buttons ***********************************************************/
.talk-button, .dl-button {
    width: max-content;
    color: var(--color-white);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    border: 2px solid var(--color-primary);
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: 0.2s;
}

.talk-button:hover, .dl-button:hover {
    border-color: var(--color-light);
    color: var(--color-primary);
    transition: .1s;
    transition-timing-function: ease-in-out;
}

.talk-button:active, .dl-button:active {
    transform: scale(0.9);
}

/*********************************************************** Let's Talk Button ***********************************************************/

.talk-button:after {
    content: '»';
    white-space: pre;
    position: absolute;
    opacity: 0;
    font-size: 50px;
}

.talk-button:hover:after {
    opacity: 1;
    color: var(--color-primary);
    animation: send-msg 1s linear infinite;
}

 @keyframes send-msg {
    0% {
        opacity: 0.1;
        transform: translateX(-300%) translateY(1rem);  
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateX(100%) translateY(1rem);
        opacity: 0.1;
    }
 }

/*********************************************************** Download Button ***********************************************************/


.dl-button:after {
    content: '\A»';
    white-space: pre;
    position: absolute;
    opacity: 0;
    font-size: 50px;
}


.dl-button:hover:after {
    opacity: 1;
    color: var(--color-primary);
    animation: download 1s linear infinite;
}

@keyframes download {
    0% {
        opacity: 0.1;
        transform: translateY(-10%) rotate(90deg);  
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(10%) rotate(90deg);
        opacity: 0.1;
    }
}



/* CTA */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* SOCIALS */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials a {
    color: var(--color-white);
    font-size: larger;
    transition: .2s;
}

.header__socials a:hover {
    transform: scale(1.5);
}

/* Line */
.header__socials::after {
    content: "";
    width: 3px;
    height: 2rem;
    background: var(--color-white);
    animation: fade-in-big 1s;
}

/* ME */
.me {
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 2rem;

}

/* Scroll down */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-size: 0.9rem;
    color: var(--color-white);
}

.scroll__down:hover {
    font-weight: bolder;
}

/* MEDIA QUERIES (MEDIUM DEVICES) IPADS */
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
        padding-top: 0rem;
    }


}

/* MEDIA QUERIES (SMALL DEVICES) MOBILE PHONES */
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
        padding-top: 0rem;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }
}