.experience__content {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 3rem;  
}

.experience__details-icon {
    color: var(--color-green);
}

.experience__details-language-icon {
    font-size: 4rem;
    color: var(--color-green);
}
.experience__details p {
    color: var(--color-light);
}

/* MEDIA QUERIES (MEDIUM DEVICES) IPADS */
@media screen and (max-width: 1024px) {
    .experience__container {
        grid-template-columns: 1fr;
    }

    .experience__container>div {
        width: var(--container-width-md);
        padding: 2rem;
        margin: 0 auto;
    }

    .experience__content {
        padding: 1rem;
    }

}

/* MEDIA QUERIES (SMALL DEVICES) MOBILE PHONES */
@media screen and (max-width: 600px) {
    .experience__container {
        gap: 1rem;
    }

    .experience__container>div {
        width: var(--container-width-sm);
        padding: 2rem 1rem;
    }

    .experience__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 3rem;
        row-gap: 2rem;
        gap: 3rem;
        
    }
}