.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experience__container>div {
    background: var(--color-grey);
    padding: 3rem 5rem;
    border-radius: 1rem;
    transition: var(--transition);
}

.experience__container>div h3 {
    text-align: center;
    margin-bottom: 5rem;
    color: var(--color-light);
    transition: .2s;
}

.experience__container>div:hover {
    cursor: default;
}

.experience__container>div:hover h3 {
    color: var(--color-green);
    transform: scale(1.2);
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    row-gap: 3rem;   
}

.experience__details-icon {
    color: var(--color-green);
}

.experience__details-language-icon {
    font-size: 2rem;
    color: var(--color-green);
    transition: .2s;
}

/* MEDIA QUERIES (MEDIUM DEVICES) IPADS */
@media screen and (max-width: 1024px) {
    .experience__container {
        grid-template-columns: 1fr;
    }

    .experience__container>div {
        width: var(--container-width-md);
        padding: 2rem;
        margin: 0 auto;
    }

    .experience__content {
        padding: 1rem;
    }

}

/* MEDIA QUERIES (SMALL DEVICES) MOBILE PHONES */
@media screen and (max-width: 600px) {
    .experience__container {
        gap: 1rem;
    }

    .experience__container>div {
        width: var(--container-width-sm);
        padding: 2rem 1rem;
    }

    .experience__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 3rem;
        row-gap: 2rem;
        gap: 3rem;
        
    }
}