/****************************************************************************************************************************************************/
/********************************************************************** MAIN CSS ********************************************************************/
/****************************************************************************************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    line-height: 1.7;
}

:root {
    --color-black: #000000;
    --color-green: #19bd4d;
    --color-blue: rgba(66, 136, 228, 0.5);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
    --color-yellow: #e4c021;


    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

body {
    color: var(--color-white);

    background-attachment: fixed, fixed;
    background-image: url(./assets/VK-face.png), url(./assets/background.jpeg);
    background-size: cover, cover;
    background-position: center, center;
    /* animation: moving-background 10s linear infinite; */
}


@keyframes moving-background {
    0% {
        background-position: center, 0 0;
    }

    100% {
        background-position: center,  100% 0;
    }
}



section {
    margin-top: 3rem;
    margin-bottom: 8rem;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}


section>h5 {
    text-align: center;
    color: var(--color-green);
    font-size: 1.2rem;
    font-weight: bolder;
}

section>h2 {
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 3rem;
    font-size: 2rem;
}

.text-light {
    color: var(--color-light);
}


/********************************************************************** MEDIA QUERIES ***************************************************************/
/****************************************************************************************************************************************************/

/* MEDIA QUERIES (MEDIUM DEVICES) IPADS */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }

    header {
        height: 68vh;
        padding-top: 0rem;
    }
}

/* MEDIA QUERIES (SMALL DEVICES) MOBILE PHONES */
@media screen and (max-width: 600px) {

    .vk-face-image {
        bottom: 300px;
    }

    .container {
        width: var(--container-width-sm);
    }

    section>h2 {
        margin-bottom: 2rem;
    }

    header {
        height: 100vh;
        padding-top: 0rem;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }
}