@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #000000;
    --color-bg-variant: linear-gradient(0deg, rgba(130, 212, 105, 0.5) 0%, rgba(33, 29, 1, 0.5) 80%);
    --color-bg-variant-reverse: linear-gradient(0deg, rgba(105, 133, 212, 0.7) 0%, rgba(33, 29, 1, 0.7) 80%);

    --color-primary: #19bd4d;
    --color-secondary: rgba(130, 212, 105, 0.5);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;  
}

html {
    scroll-behavior: smooth;  
}

section {   
    margin-bottom: 8rem;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
    background-image: url(../src/assets/bg-texture.png);
}

/* GENERAL STYLES */
.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}



section>h2,
section>h5 {
    text-align: center;
    color: var(--color-light);
}

section>h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--color-light);
}

.btn {
    width: max-content;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    border: 1px solid var(--color-primary);
    cursor: pointer;
    position: relative;
    display: inline-block;
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: .2s;
}

.btn:hover {  
    background-color: transparent;
    border-color: var(--color-bg-variant-reverse);
}

.btn:active {
    transform: translateY(2px);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}


/* MEDIA QUERIES (MEDIUM DEVICES) IPADS */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }
}

/* MEDIA QUERIES (SMALL DEVICES) MOBILE PHONES */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    section>h2 {
        margin-bottom: 2rem;
    }
}