nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 1rem 2rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    transition: .1s;
}

nav a {
    background: transparent;
    padding: 0.1rem 0.7rem;
    border-radius: 20%;
    display: block;
    color: var(--color-light);
    font-size: 1.9rem;
    text-align: center;
    transition: .1s;

    background-image: linear-gradient(var(--color-primary), var(--color-primary));
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 0%;
    transition: background-size .5s;
}

nav a:hover {
    transform: scale(1.2);
    color: var(--color-white);
    transition: .1s;
}

nav a.active {
    /* background: var(--color-primary); */
    color: var(--color-bg);
    background-size: 100% 100%;

}

nav a:active {
    transform: translateY(2px);
    transition: .1s;
}

nav a.active:hover {
    transform: scale(1);
    color: var(--color-white);
    transition: .1s;
}

nav p {
    font-size: small;
    margin-top: -0.9rem;
}

/* MEDIA QUERIES (SMALL DEVICES) MOBILE PHONES */
@media screen and (max-width: 600px) {

    nav p {
        display: none;
    }

    nav a {
        padding: 2vw 3vw;
        display: flex;
        font-size: 5vw;
    }
}