/****************************************************************************************************************************************************/
/********************************************************************** NAVIGATION ******************************************************************/
/****************************************************************************************************************************************************/
/* nav */
nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 1rem 2rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    animation: nav-bg-appear 1s;
    animation-delay: 1.6s;
    animation-fill-mode: backwards;
    
}

/****************************************************************************************************************************************************/
/* nav icons animation */
nav a:nth-child(1),
nav a:nth-child(2),
nav a:nth-child(3),
nav a:nth-child(4),
nav a:nth-child(5),
nav a:nth-child(6) {
    animation: start-small .1s ease-in, start-color-white 3s, scale-pulse 1s;
    animation-fill-mode: backwards, backwards, backwards;
}

/* nav desc animation */
nav a:nth-child(1) p,
nav a:nth-child(2) p,
nav a:nth-child(3) p,
nav a:nth-child(4) p,
nav a:nth-child(5) p,
nav a:nth-child(6) p {
    animation: start-small .1s, start-color-white 1.5s;
    animation-delay: 1.5s, 1.5s;
    animation-fill-mode: backwards, backwards;
}

/* Home icon */
nav a:nth-child(1) { 
    animation-delay: 1.5s, 1.5s, 2s;   
}

/* About icon */
nav a:nth-child(2) {
    animation-delay: 1.4s, 1.4s, 2s;
}

/* Experience icon */
nav a:nth-child(3) {
    animation-delay: 1.3s, 1.3s, 2s;
}

/* Services icon */
nav a:nth-child(4) {
    animation-delay: 1.2s, 1.2s, 2s;
}

/* Portfolio icon */
nav a:nth-child(5) {
    animation-delay: 1.1s, 1.1s, 2s;
}

/* Contact icon */
nav a:nth-child(6) {
    animation-delay: 1s, 1s, 2s;
}



/****************************************************************************************************************************************************/
/* navigation keyframes */
@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes scale-pulse {
    50% {
        transform: scale(1.2);
        color: var(--color-primary);
    }
}

@keyframes start-small {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }
}


@keyframes nav-bg-appear {
    0% {
        background: transparent;
        backdrop-filter: none;
    }
}

@keyframes start-color-white {
    0% {
        color: white;
    }
    
}


nav a {
    background: transparent;
    padding: 0.1rem 0.7rem;
    border-radius: 20%;
    display: block;
    color: var(--color-light);
    font-size: 1.9rem;
    text-align: center;
}




nav a:hover {
    transform: scale(1.2);
    color: var(--color-white);
    transition: .1s;
}


nav a.active {
    background: var(--color-primary);
    color: var(--color-bg);
}

/* on click */
nav a:active {
    background: var(--color-primary);
    transform: translateY(2px);
}


nav a.active:hover {
    transform: scale(1);
    color: var(--color-white);
    transition: .1s;
}

nav p {
    font-size: small;
    margin-top: -0.9rem;
}


/* MEDIA QUERIES (SMALL DEVICES) MOBILE PHONES */
@media screen and (max-width: 600px) {

    nav p {
        display: none;
    }

    nav a {
        padding: 2vw 3vw;
        display: flex;
        font-size: 5vw;
    }
}